@import "reset.css";
@import "header.css";
@import "main.css";
@import "sections/about.css";
@import "sections/distinction.css";
@import "sections/works.css";
@import "sections/quotes.css";
@import "sections/more-info.css";
@import "footer.css";
@import "fonts.css";

#word {
  display: flex;

  text-align: left;

  font-size: 5em;
  font-weight: bold;
}

html {
  font-size: 2vw;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p, h2 {
  font-family: 'Bender';
  font-weight: 200;
}

h1 {
  font-family: 'Bender';
  font-weight: 200;
}

h3, h4 {
  font-family: 'Bender';
  font-weight: 200;
}



body {
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;

  height: 100vh;

  color: white;

  font-family: 'Bender';
  font-weight: 200;

  justify-content: center;
  align-items: center;
}

#arrow_down {
  position: absolute;
  bottom: 30px;

  width: 73px;
  height: 55px;

  background-image: url('../images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#arrow_down:hover {
  width: 105px;
  height: 58px;

  background-image: url('../images/arrow_down2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro1 {
  background-color: black;
}


.why {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100vh;

  text-align: left;

  color: white;

  font-family: MagistralC-Bold;
  font-size: 3.6em;

  justify-content: center;
  align-items: center;
}

.why h1 {
  width: 5em;

  font-size: 1em;
}

#arrow_down2 {
  position: absolute;
  bottom: 10px;

  width: 73px;
  height: 55px;

  background-image: url('../images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#arrow_down2:hover {
  width: 105px;
  height: 58px;

  background-image: url('../images/arrow_down3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.because {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100vh;

  text-align: left;

  color: white;

  font-size: 3.6em;

  justify-content: center;
  align-items: center;
}

.because h1{
  width: 5em;
  margin-bottom: 1em;

  font-size: 1em;
}

#arrow_down3 {
  position: absolute;
  bottom: 60px;

  width: 73px;
  height: 55px;

  background-image: url('../images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#arrow_down3:hover {
  width: 105px;
  height: 58px;

  background-image: url('../images/arrow_down4.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.intro {
  background-color: #040048;
}

.titan {
  display: flex;
  flex-direction: column;

  height: 100vh;

  justify-content: space-between;

}

.newmind {
  z-index: 2;

  display: flex;

  justify-content: center;
}

.newmind img {
  width: 60%;
  height: 60%;
}

.titan_pic {
  z-index: 1;

  display: grid;

  height: 90vh;

  text-align: center;

  background-image: url(..//images/titanpic2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;

  align-items: center;
}



.titan_logo img {
  width: 60%;
  height: 60%;
}

.logobreak {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak img {
  width: 7%;
  height: 7%;
  margin-top: 2em;
  margin-top: -15em;
}

.logobreak2 img {
    width: 5%;
    height: 5%;
}

.logobreak3 {
  display: flex;

  margin-bottom: -10em;

  justify-content: center;
  align-items: center;
}

.logobreak3 img {
  width: 7%;
  height: 7%;
  margin-top: -15em;
}

.logobreak4{
  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak4 img {
  width: 7%;
  height: 7%;
  margin-top: -15em;
}

.logobreak5 img {
  width: 7%;
  height: 7%;
  margin-top: 5em;
  margin-bottom: -1em;
}


.intro_section {
  z-index: 2;

  display: flex;
  flex-direction: column;

  height: 100vh;
  margin-top: -1em;
  margin-right: 10vw;
  margin-left: 10vw;

  text-align: left;

  color: white;

  font-size: 1.4em;

  justify-content: center;
  align-items: center;
}

.intro_section_text {
  z-index: 2;

  display: flex;
  flex-direction: column;

  height: 100vh;
  margin-right: 10vw;
  margin-left: 10vw;

  text-align: left;

  color: white;

  font-size: 1.8em;
  line-height: 1.3em;

  justify-content: center;
  align-items: baseline;
}

.saturn {
  width: 80vw;
}

.saturn img {
  width: 80vw;
}


.intro_section_text p{
  padding-bottom: 1em;
}


.intro_section_h1_1 {
  margin-top: -3em;

  font-size: 2em;
}

.intro_section_h1_2 {
  margin-top: 1em;

  font-size: 2em;
}


.how_section {
  display: grid;

  height: 100vh;
  margin-right: 5vw;
  margin-left: 5vw;

  text-align: center;

  color: white;

  font-size: 1.2rem;
  line-height: 1.3em;

  grid-column-gap: 1.2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 8em 9em 4em 4em 8em 9em;
  align-items: center;
  justify-self: center;

}

.how_section h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.logobreak5 {
    z-index: 999;

    display: flex;

    margin-top: -1em;
    margin-bottom: 4em;

    justify-content: center;
    align-items: center;

}



.reason_1_title {
  margin-top: 20px;

  text-align: center;

  grid-row: 2/3;
  grid-column: 1;
}


.reason_2_title{
  margin-top: 20px;

  grid-row: 2/3;
  grid-column: 2;
}
.reason_1_description {
  width: 13em;

  text-align: left;

  grid-row: 3/3;
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
}



.reason_2_description {
  width: 13em;

  text-align: left;

  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: flex-start;
}

.reason_3_title{
  margin-top: 20px;

  grid-column: 1;
  grid-row: 6;
}
.reason_3_description {
  width: 14em;

  text-align: left;

  justify-content: center;
  grid-row: 7;
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
}


.reason_4_title{
  margin-top: 20px;

  grid-column: 2;
  grid-row: 6;
}
.reason_4_description {
  width: 13em;

  text-align: left;

  justify-content: center;
  grid-row: 7;
  grid-column: 2;
  justify-self: center;
  align-self: flex-start;
}





.reason_1_logo {
  width: 7em;
  height: 7em;

  background-image: url(..//images/layerness.png);
  background-repeat: no-repeat;
  background-size: cover;

  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
}

.reason_2_logo {
  width: 7em;
  height: 7em;

  background-image: url(..//images/minds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

.reason_3_logo {
  width: 7em;
  height: 7em;

  background-image: url(..//images/arrow.png);
  background-repeat: no-repeat;
  background-size: cover;

  justify-self: center;
  grid-column: 1;
  grid-row: 5;
}

.reason_4_logo {
  width: 7em;
  height: 7em;

  background-image: url(..//images/exclusive.png);
  background-repeat: no-repeat;
  background-size: cover;

  justify-self: center;
  grid-column: 2;
  grid-row: 5;
}

.logobreak2 {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak3 {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak4 {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.reviews {
  z-index: 199999;

  display: flex;

  height: 20vh;

  color: white;

  font-size: 3em;

  justify-content: center;
  align-items: baseline;
}


.feedback_section {
  display: grid;

  height: 80vh;
  margin-right: 5em;
  margin-left: 5em;

  text-align: center;

  color: white;

  font-size: 1.15em;
  line-height: 1.3em;

  grid-column-gap: 5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  align-items: center;
}

.feedback_section h3 {
  margin-top: 1em;
  margin-bottom: 2vh;

  font-size: 1.3em;
  font-weight: bold;
}

.feedback_section h4 {
  margin-top: 2em;

  text-align: left;

  color: white;

  font-size: 1.1em;
  line-height: 1.3em;
}

.feedback_title {
  font-size: 230%;

  grid-column: 2/3;
}

.review1, .review2, .review3, .review4 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  justify-self: end;
  align-self: baseline;
}


.review1_pic, .review2_pic, .review3_pic, .review4_pic {
  width:8em;
  height:8em;
  margin-bottom: 3vh;

  border: 3px solid white;
  border-radius: 50%;
}

.stars1 {
  width: 110px;
  height: 40px;

  background-image: url(..//images/4stars.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.stars2 {
  width: 110px;
  height: 40px;

  background-image: url(..//images/5stars.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.stars3 {
  width: 110px;
  height: 40px;

  background-image: url(..//images/5stars.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.pushme {
  display: none;
}

.review1 {
  grid-column: 1;
  grid-row: 1;
}

.review1_pic {
  background-image: url(..//images/zhaba1.png);
  background-position: center;
  background-size: cover;
}

.review2_pic {
  background-image: url(..//images/zhaba2.png);
  background-position: center;
  background-size: cover;
}

.review3_pic {
  background-image: url(..//images/zhaba3.png);
  background-position: center;
  background-size: cover;
}

.review4_pic {
  background-image: url(..//images/zhaba4.png);
  background-position: center;
  background-size: cover;
}

.review2 {
  grid-row: 1;
  grid-column: 2/3;
}

.review3 {
  grid-row: 2;
  grid-column: 1;
}

.review4 {
  grid-row: 2;
  grid-column: 2;
}

.wanna_try_section {
  display: flex;
  flex-direction: column;

  height: 100vh;

  text-align: center;

  font-size: 4em;

  justify-content: space-around;
  align-items: center;

}

footer {
  display: flex;

  height: 10vh;

  text-align: center;

  justify-content: center;
  align-items: center;
}

/* .footer ul{
  display: flex;

  color: white;

  font-family: 'Prosto One', cursive;

  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  margin: 1vw;
} */

.brain-cloud {
  width: 50vh;
  height: 50vh;
}


.wanna_try_button {
  display: flex;

  width: 10em;
  height: 10vh;

  text-decoration: none;

  color: white;
  border: 3px solid #ffffff;
  border-radius: 9px;
  background: transparent;

  font-size: 32px;

  align-items: center;
  justify-content: center;
  align-content: center;
}


.wanna_try_button:hover {
  color: #64FC00;
  border-color: #64FC00;
  box-shadow: #64FC00;
}

.titan_qr {
  width: 10em;
}

.titan_qr img {
  width: 60vw;
}

@media (min-width=950px) {
  .titan_pic {
    background-size: cover;
  }
}

.logo {
  display: flex;

justify-content: center;
}

.logo2 {
  width: 30%;
}

@media screen and (max-width: 400px) {
  #word {
    font-size: 6em;
  }

  .why, .because {
    font-size: 5.8em;
  }

  .intro_section_h1_1, .intro_section_h1_2 {
    font-size: 3em;
  }

  .logobreak3 img, .logobreak4 img, .logobreak5 img, .logobreak2 img, .logobreak img {
    z-index: 99999999;

    width: 8em;
    margin-top: -25em;
  }

  .intro_section_text {
    font-size: 2rem;

    justify-content: end;
  }

  .how_section {
    height: 190vh;
    margin-left: 0;

    font-size: 2em;

    grid-template-rows: 4em 4em 9em 2em 4em 4em 9em 2em 4em 4em 9em 2em 4em 4em 9em 2em 4em 4em 9em 2em 4em 4em 9em 2em 4em 9em;
    grid-template-columns: 100vw;
  }

  .how_section h2 {
    margin-top: 0;
  }

  .reason_1_logo, .reason_2_logo, .reason_3_logo, .reason_4_logo, .reason_1_title, .reason_2_title, .reason_3_title, .reason_4_title, .reason_1_description, .reason_4_description, .reason_2_description {
    grid-column: 1;
  }

  .reason_2_logo {
    grid-row: 9;
  }

  .reason_2_description {
    grid-row: 11;
  }

  .reason_2_title {
    grid-row: 10;
  }
  .reason_4_logo {
    grid-row: 13;
  }

  .reason_4_title {
    grid-row: 14;
  }
  .reason_4_description {
    grid-row: 15;
  }

  .reviews {
    margin-top: 3em;
    margin-bottom: -2em;

    font-size: 4em;
  }

  .reviews h3 {
    font-weight: bold;
  }

  .logobreak5 img {
    margin-top: 9em;
  }

  .logobreak {
    margin-top: 3em;
  }

  .feedback_section {
  height: 160vh;
  margin-right: 10em;
  margin-left: 10em;

  font-size: 1.35em;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  }

  .feedback_section h3 {
    font-size: 1.8em;
  }

  .review2 {
    grid-row: 2;
  }
  .review3 {
    grid-row: 3;
  }

  .review4 {
    grid-row: 4;
  }

  .review, .review2, .review3, .review4 {
    margin-top: 5em;

    grid-column: 1;
  }

  .wanna_try_section {
    margin-top: 3em;
  }

  .wanna_try_button {
    width: 7.5em;
  }

}

@media screen and (min-width: 900px) {
  .titan_pic {
    background-size: 40%;
  }

  .intro_section {
    height: 120vh;
    margin-top: 10em;

    align-items: baseline;
  }
  .intro_section_text {
    margin-top: 1em;
    padding-top: -5em;

    font-size: 1.1em;
  }
  .newmind img {
    width: 40%;
  }
  .saturn img {
    width: 40vw;
  }
  .intro_section_h1_1 {
    margin-top: -0.4em;

    font-size: 1.7em;
  }
  .intro_section_h1_2 {
    font-size: 1.7em;
  }
  .logobreak3 {
    z-index: 123123123123123;

    margin-top: -14em;
    margin-right: 4em;

    text-decoration: none;

    justify-content: flex-end;
    align-items: end;
  }
  .logobreak3 img {
    z-index: 21312312312312312;

    margin-top: -0.4em;
  }

  .logobreak4 {
    margin-top: -6em;
  }

  .logobreak4 img {
    z-index: 21312312312312312;

    margin-top: -0.2em;
  }
  .pushme {
    z-index: 1293012930912030123;

    display: flex;

    width: 10em;
    margin-top: 1em;
    margin-left: 1em;

    word-spacing: 0.3em;

    color: white;

    font-weight: bold;

  }

  .how_section {
    height: 80vh;
    margin-top: 10vh;

    font-size: 0.7em;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3em 5em 9em 5em;
  }

  .reason_2_logo {
    grid-row: 1;
    grid-column: 3;
  }

  .reason_2_description {
    grid-column: 3;
  }

  .reason_2_title {
    grid-row: 2;
    grid-column: 3;
  }
  .reason_4_logo {
    grid-row: 1;
  }
  .reason_3_title {
    grid-column: 4;
    grid-row: 2;
  }

  .reason_4_title {
    grid-row: 2;
  }
  .reason_4_description {
    grid-column: 2;
    grid-row: 3;
  }

  .reason_3_description {
    grid-column: 4;
    grid-row: 3;
  }

  .reason_3_logo {
    grid-column: 4;
    grid-row: 1;
  }

  .feedback_section {
    height: 100vh;

    font-size: 0.7em;

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .review3 {
    grid-column: 3;
    grid-row: 1;
  }

  .review4 {
    grid-column: 4;
    grid-row: 1;
  }

  .logobreak5 img {
    margin-top: -20em;
  }
  .wanna_try_section img {
    width: 40%;
  }
  .wanna_try_button {
    margin-top: -5em;
  }
}

@media screen and (min-width: 900px) {
  .titan_pic {
    background-size: 30%;
  }

  .newmind img {
    width: 30%;
  }
  .saturn img {
    width: 40vw;
  }

  .intro_section {
    height: 100vh;

    font-size: 1.2em;
  }

  .intro_section_h1_1 {
    margin-top: -0.2em;

    font-size: 1.2em;
  }
  .intro_section_h1_2 {
    font-size: 1.2em;
  }
  .intro_section_text {
    margin-top: 15em;
    padding-top: -1em;

    font-size: 0.9em;

    justify-content: flex-start;
  }
  .how_section {
    height: 100vh;
  }

  .feedback_section {
    height: 100vh;

    font-size: 0.5em;

    grid-template-rows: 1fr;
  }
  .reviews {
    font-size: 2em;
  }

  .review1, .review2, .review3, .review4 {
    margin-top: 5em;
  }

  .logobreak5 img {
    margin-top: -10em;
  }
  .logo2 {
    width: 20%;
  }
}
