@import "reset.css";
@import "header.css";
@import "main.css";
@import "sections/about.css";
@import "sections/distinction.css";
@import "sections/works.css";
@import "sections/quotes.css";
@import "sections/more-info.css";
@import "footer.css";
@import "fonts.css";
@import url('https://fonts.googleapis.com/css?family=Prosto+One&subset=cyrillic');



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Prosto One', cursive;
}


header {
  display: block;

  height: 30vh;

  border: 2px solid black;

  font-family: "Magistral-Cond-Regular";

  align-items: center;
}

header p {
  display: grid;

  text-align: center;

  font-size: 300%;
}

.why {
  display: grid;

  height: 20vh;

  text-align: center;

  border: 2px solid red;
  background-color: rgb(75, 162, 173);

  font-size: 300%;

  align-items: center;

}

.titan_pic {
  display: grid;

  height: 60vh;

  text-align: center;

  border: 2px solid yellow;
  background-image: url(..//images/titan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-size: 300%;

  align-items: center;
}

.intro_section {
  display: grid;

  height: 30vh;

  text-align: center;

  border: 2px solid black;
  background-color: rgb(142, 170, 33);

  font-size: 300%;

  align-items: center;
}

.how_section {
  display: grid;

  height: 30vh;

  text-align: center;

  border: 2px solid red;
  background-color: rgb(71, 84, 255);

  font-size: 300%;

  align-items: center;
}

.feedback_section {
  display: grid;

  height: 30vh;

  text-align: center;

  border: 2px solid black;
  background-color: rgb(142, 170, 33);

  font-size: 300%;

  align-items: center;
}

.wanna_try_section {
  display: grid;

  height: 50vh;

  text-align: center;

  border: 2px solid red;
  background-color: rgb(186, 79, 190);

  font-size: 300%;

  align-items: center;
}

.footer {
  display: flex;

  height: 10vh;

  text-align: center;

  border: 2px solid black;
  background-color: #040048;

  font-size: 150%;

  justify-content: center;
  align-items: center;
  align-items: center;
}

.footer ul{
  display: flex;

  color: white;

  font-family: 'Prosto One', cursive;

  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  margin: 1vw;
}

.brain_cloud {
  z-index: 1300;
}
