@import "reset.css";
@import "header.css";
@import "main.css";
@import "sections/about.css";
@import "sections/distinction.css";
@import "sections/works.css";
@import "sections/quotes.css";
@import "sections/more-info.css";
@import "footer.css";
@import "fonts.css";

#word {
  display: flex;

  text-align: left;

  font-size: 5em;
  font-weight: bold;
}

html {
  font-size: 2vw;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p, h2 {
  font-family: 'Bender';
  font-weight: 200;
}

h1 {
  font-family: 'Bender';
  font-weight: 200;
}

h3, h4 {
  font-family: 'Bender';
  font-weight: 200;
}



body {
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;

  height: 100vh;

  color: white;

  font-family: 'Bender';
  font-weight: 200;

  justify-content: center;
  align-items: center;
}

#arrow_down {
  position: absolute;
  bottom: 30px;

  width: 73px;
  height: 55px;

  background-image: url('../images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#arrow_down:hover {
  width: 105px;
  height: 58px;

  background-image: url('../images/arrow_down2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro1 {
  background-color: black;
}


.why {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100vh;

  text-align: left;

  color: white;

  font-family: MagistralC-Bold;
  font-size: 3.6em;

  justify-content: center;
  align-items: center;
}

.why h1 {
  width: 5em;

  font-size: 1em;
}

#arrow_down2 {
  position: absolute;
  bottom: 10px;

  width: 73px;
  height: 55px;

  background-image: url('../images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#arrow_down2:hover {
  width: 105px;
  height: 58px;

  background-image: url('../images/arrow_down3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.because {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100vh;

  text-align: left;

  color: white;

  font-size: 3.6em;

  justify-content: center;
  align-items: center;
}

.because h1{
  width: 5em;
  margin-bottom: 1em;

  font-size: 1em;
}

#arrow_down3 {
  position: absolute;
  bottom: 60px;

  width: 73px;
  height: 55px;

  background-image: url('../images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#arrow_down3:hover {
  width: 105px;
  height: 58px;

  background-image: url('../images/arrow_down4.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.intro {
  background-color: #040048;
}

.titan {
  display: flex;
  flex-direction: column;

  height: 100vh;

  justify-content: space-between;

}

.newmind {
  z-index: 2;

  display: flex;

  justify-content: center;
}

.newmind img {
  width: 60%;
  height: 60%;
}

.titan_pic {
  z-index: 1;

  display: grid;

  height: 90vh;

  text-align: center;

  background-image: url(..//images/titanpic2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;

  align-items: center;
}



.titan_logo img {
  width: 60%;
  height: 60%;
}

.logobreak {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak img {
  width: 7%;
  height: 7%;
  margin-top: 2em;
  margin-top: -15em;
}

.logobreak2 img {
    width: 5%;
    height: 5%;
}

.logobreak3 {
  display: flex;

  margin-bottom: -10em;

  justify-content: center;
  align-items: center;
}

.logobreak3 img {
  width: 7%;
  height: 7%;
  margin-top: -15em;
}

.logobreak4{
  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak4 img {
  width: 7%;
  height: 7%;
  margin-top: -15em;
}

.logobreak5 img {
  width: 7%;
  height: 7%;
  margin-top: -12em;
  margin-bottom: -1em;
}


.intro_section {
  z-index: 2;

  display: flex;
  flex-direction: column;

  height: 100vh;
  margin-top: -1em;
  margin-right: 10vw;
  margin-left: 10vw;

  text-align: left;

  color: white;

  font-size: 1.4em;

  justify-content: center;
  align-items: center;
}

.intro_section_text {
  z-index: 2;

  display: flex;
  flex-direction: column;

  height: 100vh;
  margin-right: 10vw;
  margin-left: 10vw;

  text-align: left;

  color: white;

  font-size: 1.8em;

  justify-content: center;
  align-items: baseline;
}

.saturn {
  width: 80vw;
}

.saturn img {
  width: 80vw;
}


.intro_section_text p{
  padding-bottom: 3em;
}


.intro_section_h1_1 {
  margin-top: -3em;

  font-size: 2em;
}

.intro_section_h1_2 {
  margin-top: 1em;

  font-size: 2em;
}


.how_section {
  display: grid;

  height: 100vh;
  margin-right: 5vw;
  margin-left: 5vw;

  text-align: center;

  color: white;

  font-size: 1.2rem;
  line-height: 1.3em;

  grid-column-gap: 1.2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 8em 9em 4em 4em 8em 9em;
  align-items: center;
  justify-self: center;

}

.how_section h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.logobreak5 {
    z-index: 999;

    display: flex;

    margin-top: -1em;
    margin-bottom: 4em;

    justify-content: center;
    align-items: center;

}



.reason_1_title {
  margin-top: 20px;

  text-align: center;

  grid-row: 2/3;
  grid-column: 1;
}


.reason_2_title{
  margin-top: 20px;

  grid-row: 2/3;
  grid-column: 2;
}
.reason_1_description {
  width: 13em;

  text-align: left;

  grid-row: 3/3;
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
}



.reason_2_description {
  width: 13em;

  text-align: left;

  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: flex-start;
}

.reason_3_title{
  margin-top: 20px;

  grid-column: 1;
  grid-row: 6;
}
.reason_3_description {
  width: 14em;

  text-align: left;

  justify-content: center;
  grid-row: 7;
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
}


.reason_4_title{
  margin-top: 20px;

  grid-column: 2;
  grid-row: 6;
}
.reason_4_description {
  width: 13em;

  text-align: left;

  justify-content: center;
  grid-row: 7;
  grid-column: 2;
  justify-self: center;
  align-self: flex-start;
}





.reason_1_logo {
  width: 100px;
  height: 100px;

  background-image: url(..//images/layerness.png);
  background-repeat: no-repeat;
  background-size: cover;

  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
}

.reason_2_logo {
  width: 100px;
  height: 100px;

  background-image: url(..//images/minds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

.reason_3_logo {
  width: 100px;
  height: 100px;

  background-image: url(..//images/arrow.png);
  background-repeat: no-repeat;
  background-size: cover;

  justify-self: center;
  grid-column: 1;
  grid-row: 5;
}

.reason_4_logo {
  width: 100px;
  height: 100px;

  background-image: url(..//images/layerness.png);
  background-repeat: no-repeat;
  background-size: cover;

  justify-self: center;
  grid-column: 2;
  grid-row: 5;
}

.logobreak2 {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak3 {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}

.logobreak4 {
  z-index: 999;

  display: flex;

  margin-bottom: 5vh;

  justify-content: center;
  align-items: center;
}




.feedback_section {
  display: grid;

  height: 100vh;
  margin-right: 5em;
  margin-left: 5em;

  text-align: center;

  color: white;

  font-size: 1.2em;
  line-height: 1.3em;

  grid-column-gap: 1.2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1fr;
  align-items: center;
}

.feedback_section h3 {
  margin-bottom: 2vh;
}

.feedback_section h4 {
  width: 14em;
  margin-top: 2em;

  text-align: left;

  color: white;

  font-size: 1em;
  line-height: 1.3em;
}

.feedback_title {
  font-size: 230%;

  grid-column: 2/3;
}

.review1, .review2, .review3, .review4 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  justify-self: end;
  align-self: baseline;
}


.review1_pic, .review2_pic, .review3_pic {
  width:8em;
  height:8em;
  margin-bottom: 3vh;

  border: 3px solid white;
  border-radius: 50%;
}

.stars1 {
  width: 110px;
  height: 40px;

  background-image: url(..//images/4stars.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.stars2 {
  width: 110px;
  height: 40px;

  background-image: url(..//images/5stars.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.stars3 {
  width: 110px;
  height: 40px;

  background-image: url(..//images/5stars.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.review1 {
  grid-column: 1;
  grid-row: 1;
}

.review1_pic {
  background-image: url(..//images/zhaba1.png);
  background-position: center;
  background-size: cover;
}

.review2_pic {
  background-image: url(..//images/zhaba2.png);
  background-position: center;
  background-size: cover;
}

.review3_pic {
  background-image: url(..//images/zhaba3.png);
  background-position: center;
  background-size: cover;
}

.review2 {
  grid-row: 1;
  grid-column: 2/3;
}

.review3 {
  grid-row: 2;
  grid-column: 1;
}

.review4 {
  grid-row: 2;
  grid-column: 2;
}

.wanna_try_section {
  display: flex;
  flex-direction: column;

  height: 100vh;

  text-align: center;

  font-size: 4em;

  justify-content: space-around;
  align-items: center;

}

footer {
  display: flex;

  height: 10vh;

  text-align: center;

  justify-content: center;
  align-items: center;
}

/* .footer ul{
  display: flex;

  color: white;

  font-family: 'Prosto One', cursive;

  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  margin: 1vw;
} */

.brain-cloud {
  width: 50vh;
  height: 50vh;
}


.wanna_try_button {
  display: flex;

  width: 10em;
  height: 10vh;

  text-decoration: none;

  color: white;
  border: 3px solid #ffffff;
  border-radius: 9px;
  background: transparent;

  font-size: 32px;

  align-items: center;
  justify-content: center;
  align-content: center;
}


.wanna_try_button:hover {
  color: #64FC00;
  border-color: #64FC00;
  box-shadow: #64FC00;
}

.titan_qr {
  width: 10em;
}

.titan_qr img {
  width: 60vw;
}

@media (min-width=950px) {
  .titan_pic {
    background-size: cover;
  }
}

.logo {
  display: flex;

justify-content: center;
}

.logo2 {
  width: 30%;
}
