@-webkit-keyframes __wlcm_scroll_up {
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes __wlcm_scroll_up {
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.__wlcm_scroll_up {
  -webkit-animation-name: __wlcm_scroll_up;
  animation-name: __wlcm_scroll_up;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
